[Unit]
Description=Yatta Next.js (SSR)
After=network.target

[Service]
Type=simple
User=yatta
Group=www-data
WorkingDirectory=/home/yatta/apps/frontend
Environment=NODE_ENV=production
Environment=PORT=3000
EnvironmentFile=/home/yatta/apps/frontend/.env
ExecStart=/usr/bin/npm run start
Restart=always

[Install]
WantedBy=multi-user.target

